.container{
    display: flex;
    flex-direction:row;
    border:10px solid black;
    justify-content:center;                       /* x-axis is control by the code */
    height:90vh;                           
    flex-wrap:wrap;                       /* y-axis is control by the code */
    gap:10px;                /*  this tag cut the space along the x-axis*/
   
}
.box{
    width:150px;
    height:150px;
    font-size:8em;
    text-align:center;
    border-radius:15px;
}
#box1{
    background-color:plum;
    align-self:flex-end;
}
#box2{
    background-color:blue;
}
#box3{
    background-color:skyblue;
}
#box4{
    background-color:orangered;
}
#box5{
    background-color:orange;
}
#box6{
    background-color:pink;
}


























