.one{
    background-color:red;
}
.two{
    background-color:green;
}
.three{
    BACKGROUND-COLOR:pink;
}
h1{
    text-align: center;
    background-color:blue;
    border-radius: 10cm;
    border:dashed 10px;
}